// Sizes

$mobile: 575px;
$tablet: 801px;
$desktop: 1281px;

// Colors

$primary: #229660;
$primary-variant: #176440;
$secondary: #B0A990;
$secondary-variant: #8C8069;
$background: #F7F6F3;
$surface: #F7F6F3;
$error: #7B5151;
$on-background: #202030;
$on-surface: #202030;
$on-error: #F7F6F3;

// Shadow

$shadow: 0 4px 16px 0 $secondary;
